@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
    font-weight: 500;
}

/* ---------------------------- */
/* DESKTOP NAVBAR */
/* ---------------------------- */

.Navbar {
    width: 100%;
    border-bottom: 1px solid black;
    padding: 0px 20px;
    display: flex;
}

.Logo-text {
    font-weight: 600;
    width: 55%;
    padding: 12px 20px;
    border-right: 1px solid black;
    cursor: pointer;
}

.Nav-link {
    display: flex;
    list-style: none;
    width: 35%;
    text-align: center;
}

.link-item {
    padding: 15px 40px;
    width: 50%;
    border-right: 1px solid black;
    cursor: pointer;
}

.Logo-text:hover,
.link-item:hover {
    color: blue;
}

.startbtn {
    width: 15%;
    background-color: rgba(0, 0, 0, 0.804);
    color: white;
    border: none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
}

.startbtn:hover {
    background-color: rgb(4, 4, 82);
}

/* ---------------------------- */
/* HAMBURGER ICON */
/* ---------------------------- */

.menu-icon {
    width: 32px;
    height: 32px;
    position: absolute;
    right: 20px;
    top: 15px;
    cursor: pointer;
    display: none; /* hidden on desktop */
}

/* ---------------------------- */
/* MOBILE MENU */
/* ---------------------------- */
.navbar-container {
  width: 100%;
  position: relative;
  z-index: 9999;   /* ensures menu icon is always visible */
}

.Mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background: white;
    z-index: 9999;
    padding: 10px 20px;
}

.mobile-Logo-text {
    padding: 15px 20px 50px 20px;
    border-bottom: 1px solid black;
    font-weight: 600;
}

.mobile-Nav-link {
    list-style: none;
    width: 100%;
    text-align: center;
}

.mobile-link-item {
    padding: 35px 0;
    border-bottom: 1px solid black;
}

.mobile-startbtn {
    padding: 20px 0px;
    width: 30%;
    margin: 20px auto;
    display: block;
    text-align: center;
    border: none !important;
}

/* ---------------------------- */
/* RESPONSIVE */
/* ---------------------------- */

@media (max-width: 768px) {
    /* Hide Desktop navbar */
    .Navbar {
        display: none;
    }

    /* Show hamburger icon */
    .menu-icon {
        display: block;
    }
}

@media (min-width: 769px) {
    /* Hide mobile menu on desktop */
    .Mobile-menu {
        display: none;
    }
}

/* Extra small screens */
@media (max-width: 480px) {
    .Logo-text,
    .link-item,
    .startbtn {
        font-size: 14px;
    }
}
