
.slider-window {
  width: 100%;
  height: 550px;
  overflow: hidden;
  border-radius: 10px;
}



.nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  font-size: 28px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

/* .prev {
  left: 15px;
}

.next {
  right: 15px;
} */


.slider {
  width: calc(100vw - 30px); 
  margin: 0 auto;            
  height: 70vh;
  overflow: hidden;
  position: relative;
  padding: 0;
}


.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;  
  display: block;
}


.dots {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.dot {
  height: 12px;
  width: 12px;
  background: #ddd;
  border-radius: 50%;
  display: inline-block;
  margin: 0 4px;
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: white;
}
 
